*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a, p, button {
    font-size: font-desk(text);
    color: color(primary);

    @include mobile {
        font-size: font-mobile(text);
    }
}

.flex{
    display: flex;

    &__jc-sb {
        justify-content: space-between;
    }

    &__jc-c {
        justify-content: center;
    }
    &__ai-c {
        align-items: center;
    }
}


// Button -----------------------------------------------------------

.btn {
    button{
        padding: 10px 56px;
        text-align: center;
        font-weight: 700;
        background-color: color(primary);
        color: color(secondary);
        border: solid 3px color(primary);
        cursor: pointer; 
        transition: ease-in-out .3s; 
    }

    &:hover button{
        background-color: color(secondary);
        color: color(primary);
    }
}

// This hides the menus for either mobile or desktop ------------------------------------------------------
@include tablet {
    .hide-for-mobile {
        display: none;
    }
} 

@include desktop {
    .hide-for-desktop {
        display: none;
    }
}

@include ldesktop {
    .hide-for-desktop {
        display: none;
    }
}

// Back to top button ------------------------------------------------------

.to_top {
    position: relative;
    padding: 30px 62.5px;
    z-index: 4;

    @include tablet {
        text-align: center;
    }

    a {
        text-decoration: none;
        font-weight: 700;
        color: color(accents);
        transition: ease-in-out .3s;

        &:hover {
            color: color(primary);
        }
    }

    .fas {
        margin-right: 20px;
    }
}

// Footer ------------------------------------------------------

footer {
    position: relative;
    text-align: center;
    font-size: .7rem;
    color: color(accents);
    z-index: 4;

    h2 {
       font-weight: 400; 

       a {
           text-decoration: none;
           font-size: 1rem;
       }
    }

    @include mobile {
        font-size: .6rem;

        a {font-size: .9rem;}
    }
    
}
