// COLORS ------------------------------------------------------------

$colors: (
    secondary: #ffffff,
    primary: #000000,
    accents: #686868,
);

// Font Sizes --------------------------------------------------------

// Desktop font sizes

$deskFont: (
    text: 1.125rem,
    mainHeaders: 4rem,
    headers: 3rem,
    icons: 1.5rem,
    subtitles: 1.5rem,
);

// Mobile font sizes

$mobileFont: (
    text: 1.125rem,
    mainHeaders: 3rem,
    headers: 3rem,
    icons: 1.5rem,
    subtitles: 1.375rem
);

