// COLORS ------------------------------------------------------------

$colors: (
    secondary: #ffffff,
    primary: #000000,
    accents: #686868,
);

// Font Sizes --------------------------------------------------------

$text: 1.125rem;
$mainHeaders: 4rem;
$headers: 3rem;

