header {
    position: relative;
    // Overlay for mobile Menu ----------------------------------------------
    .overlay {
        opacity: 0;
        position: fixed;
        height: 100vh;
        top: 114px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: color(secondary);
        z-index: -1;

        .mobile__nav {

            position: absolute;
            display: block;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -65%);
            padding-left: 0;

            @include tablet {
                top: 40%;
            }

            li {
                list-style-type: none;

                &:not(last-child) {
                    margin-bottom: 55px;
                }
            }
            a{
                text-decoration: none;
                font-weight: 600;
                font-size: 1.525rem;
            }
        }
    }
    // Hamburger open styles

    &.open {
        
        .overlay {
            display: block;
        }

        .hamburger_menu{
            >span:first-child {
                transform: rotate(45deg);
            }
            >span:nth-child(2) {
                opacity: 0;
            }
            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

}



nav {
    position: sticky;
    top: 0;
    left: 0;
    padding: 85px 125px;
    background-color: color(secondary);
    z-index: 99;
    transition: ease .2s;
    // This reduces padding on smaller screens to take advantage of all the limited space

    
    @include tablet {
        padding: 55px 85px;
    }
    
    @include mobile {
        padding: 45px 25px;
    }
    
    @include shortDesktop {
        padding: 55px 125px;
    }
    
    .logo {
        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 0%;
            background-color: #000;
            transition: ease-in-out .2s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    .main-nav, .nav_work {
        list-style-type: none;
    }

    li {
        margin: 0 25px;

        a {
            text-decoration: none;
            font-weight: 600;
            transition: ease-in-out .2s;

            &:hover {
                color: color(accents);
            }

            &::after {
                content: '';
                display: block;
                height: 3px;
                width: 0;
                background-color: color(primary);
                transition: ease-in-out .2s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
    
    .nav-socials {
        a {
            margin: 0 15px;
            transition: ease-in-out .2s;

            &:hover {
                color: color(accents);
            }

        }

        .fab {
            font-size: font-desk(icons);

            &::after {
                content: '';
                display: block;
                height: 3px;
                margin-top: 5px;
                width: 0;
                background-color: color(primary);
                transition: ease-in-out .2s;
            }
    
            &:hover::after {
                width: 100%;
            }
        }
    }
    .hamburger_menu {
        cursor: pointer;

        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: color(primary);
            transform-origin: 1px 2px;
            transition: ease-in-out .3s;

            &:not(last-child) {
                margin-bottom: 5px;
            }
        }

    }
    
}

.scrolling {
    padding: 35px 125px;
    box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.15);
}