.hero {
    height: 74.8vh;
    width: 100%;
    padding: 0 200px;
    // This centers the text according to the viewport not the actual hero element size (THIS PREVENTS THE HERO SECTION FROM GETTING IN THE WAY OF OTHER ELEMENTS)
    padding-top: 12.5vh;
    // ------------------------
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        padding-left: 50px;
        padding-right: 50px;
        justify-content: center;
    }

    @include mobile {
        padding: 0 20px;
        justify-content: center;
    }
    
    //This animates the hand emoji in the h2 tag, its separated by a span tag

    .hand {
        transition: ease-in-out .3s;
        transform-origin: bottom right;
    }

    &:hover .hand{
        display: inline-block;
        animation: wave 1s ease-in-out forwards;
    }

    >:nth-child(3) {
        margin-bottom: 45px;
    }
    h1,h2 {
        text-align: center;
        margin: 2px;
    }

    h1 {
        font-size: font-desk(mainHeaders);
        font-weight: 800;

        @include mobile {
            font-size: font-mobile(MainHeaders);
        }
    }

    h2 {
        font-size: font-desk(subtitles);
        font-weight: 600;

        @include mobile {
            font-size: font-mobile(subtitles);
            margin: 15px 0 15px 0;
        }
    }


    &__arrow {
        bottom: 35px;
        position: absolute;
        z-index: 1;
        .fa-arrow-down{
            font-size: font-desk(icons);

            &:hover {
                color: color(accents);
            }
        }

    }
    //This hides the arrow for short screens that make everything look too close together
    @include mobile {
        .hide {
            display: none;
        }
    }
    //This displays the arrow when the screen's height is larger than 720px -------
    @include lmobile {
        .hide {
            display: block;
        }
    }

}

.hero_titles {
    .hide {
        opacity: 0;
    }
}

