.work {
    width: 100%;
    padding: 80px 125px;
    margin-top: 80px;

    @include tablet {
        padding: 80px 55px 0px 55px;
        margin-top: 55px;
    }

    h2 {
        text-align: center;
        font-size: font-desk(headers);
        margin-bottom: 80px;
    }

    .work-img {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        row-gap: 40px;
        column-gap: 20px;
        justify-content: center;
        margin-bottom: 50px;
        
        @include mobile {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }

        .img-container{
            position: relative;

            a {
                text-decoration: none;
                transition: all .3s;
            }
            


            img{
                background-color: #000;
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: top;
                border: 3px solid color(primary);
                transition: ease-in-out .2s;

                &:hover {
                   opacity: .8;
                }

                @include ldesktop {
                    height: 450px;
                }
            }

            h3 {
                font-size: font-desk(substitles);
                margin-left: 20px;
                width: fit-content;

                &:hover {
                    opacity: .8;
                }
            }
        }

    }
    .button {
        display: flex;
        justify-content: center;
    }
}